@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/****** General Styles ******/
html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden; 
  font-family: 'Muli';
  background-color: #e6e8e8;
}
.container{
  display: inline-grid;
  grid-template-rows: 150px auto;
  grid-template-columns: 20% auto;
  row-gap: 0em;
  column-gap: 0em;
}
.content {
  width: auto;
  margin: 2em 2em 2em 2em;
}

.large-img{
  height: 500px;
  width: auto;
}

.mid-img{
  height: 300px;
  width: auto;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/****** Header Styles ******/
.header-logo {
  border-style: solid;
  border-width: 0 1px 1px 0;
}
.header-logo a img{
  height: 100px;
  width: auto;
  margin-top: 25px;
}

.header-title {
  width: 100%;
  border-style: solid;
  border-width: 0 1px 1px 0;
}

.header-title a {
  text-decoration: none;
  color: black;
}

.header-title a:hover { 
  text-decoration: underline;
  color: white;
}


/****** Nav Styles ******/
.nav-col {
  border-style: solid;
  border-width: 0 1px 0 0;
}
.nav-item {
  width: 100%
  
}
.nav-item a{
  color: black;
  text-decoration: none;
  font-size: 45px;
  margin-left: 40px;
}
.nav-item a:hover {
  color: white;
  text-decoration: underline;
}
/****** Links Styles ******/
.links ul{
  list-style-type: none;
  margin-left: 3em;
}

.links ul li a:hover{
  text-decoration: underline;
}

.links ul li a img{
  height: 60px;
  width: auto;
}

.links ul li a img:hover{
  filter: invert(100%);
}
/****** Footer Styles ******/
